@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050816;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-top: 20px;
}

.container .trigger-modal-button-container .trigger-modal-btn {
  border: none;
  background-color: blue;
  padding: 8px 40px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container h1 {
  color: white;
  margin-bottom: 12px;
}

.write-note-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
}

.modal-container #notes {
  width: 588px;
  height: 393px;
  outline: none;
  padding: 10px;
  font-size: 25px;
}

.modal-buttons {
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
}

.cancel-button-container button {
  border: none;
  background-color: rgb(224, 45, 45);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-note-button-container button {
  border: none;
  background-color: green;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* utility classes */
.none {
  display: none;
}
